{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Payroll Heading-->

<article class="media content-section">
    <div class="media-body">
        <h6 class="application-heading text-danger"><strong>FILENAME ERROR!</strong></h6>
        <p class="article-content text-danger"><strong>PLEASE MAKE SURE THE FILE NAMES MATCH THESE:</strong></p>
        <ul>
            <li>Stylist_Analysis.xls</li>
            <li>Tips_By_Employee_Report.xls</li>
            <li>Employee_Hours1.xls</li>
            <li>Employee_Hours2.xls</li>
            <li>SC_Client_Retention_Report.xls</li>
            <li>Employee_Service_Efficiency_SC.xls</li>
        </ul>
        <a class="btn btn-success mt-4" href="{% url 'payroll' %}">Restart Payroll</a>
    </div>
</article>

{% endblock content %}
