{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Page Title-->

<div style="text-align: center">
    <h3 class="h-primary center">Payroll
    </h3>
</div>

<article class="media content-section">
    <div class="media-body">
        <p class="article-content">To begin payroll please verify that your file names match these:</p>
        <ul>
            <li>Stylist_Analysis.xls</li>
            <li>Tips_By_Employee_Report.xls</li>
            <li>Employee_Hours1.xls</li>
            <li>Employee_Hours2.xls</li>
            <li>SC_Client_Retention_Report.xls</li>
            <li>Employee_Service_Efficiency_SC.xls</li>
        </ul>
        <a class="btn btn-primary mt-4 btn-block" href="{% url 'stylist' %}">Begin Payroll</a>
    </div>
</article>
{% endblock content %}