{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h6 class="application-heading">Select Manager</h6>
        <div class="article-content">Please select the manager of the store.
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <h6 class="application-heading">Select Manager</h6>
        <form class="post-form" method="post">
            {% csrf_token %}
            {{ m_form|crispy }}
            <button class="save btn btn-success" type="submit">Run Payroll</button>
        </form>
    </div>
</article>
{% endblock content %}