{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Page Title-->

<div style="text-align: center">
    <h3 class="h-primary center">Payroll
    </h3>
</div>

<!--Payroll Heading-->
<article class="media content-section">
    <div class="media-body">
        <h6 class="application-heading">Payroll</h6>
        <p class="article-content">Edit the settings of the payroll software or continue:</p>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Continue</button>
            </fieldset>
        </form>
    </div>
</article>

{% endblock content %}