{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Page Title-->

<div style="text-align: center">
    <h3 class="h-primary center">Settings</h3>
</div>

<div class="content-section">
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Payroll Settings</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Update Settings</button>
        </div>
    </form>
</div>

{% endblock content %}