{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Page Title-->

<div style="text-align: center">
    <h3 class="h-primary center">Payroll
    </h3>
</div>

<!--Payroll Heading-->
<article class="media content-section">
    <div class="media-body">
        <h6 class="application-heading">Upload Stylist Analysis Report</h6>
        <div class="article-content">Please upload the Stylist Analysis Report below.
        </div>
    </div>
</article>

<!--Upload Section-->
<article class="media content-section">
    <div class="media-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form|crispy }}
            <button class="btn btn-primary" type="submit">Continue</button>
        </form>
    </div>
</article>

{% endblock content %}>