{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="content-section col-md-6">
                <p class="mb-4"></p>
        <h5 class="account-heading mb-5"><strong>Let's begin..</strong></h5>
                <div class="form-group">
                    <a class="btn btn-danger btn-lg btn-block" href="{% url 'payroll' %}">Enter site</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}