{% extends "users/base.html" %}
{% block content %}
{% load auth_extras %}

<!--Page Header Title-->

<div style="text-align: center">
    <h3 class="h-primary center">Memos
    </h3>
</div>

{% if request.user|is_in_group:"owner" %}

<article class="media content-section">
    <div class="media-body">
        <a class="btn btn-primary btn-block"
           href="{% url 'memos-create' %}">Create New Memo</a>
    </div>
</article>

{% endif %}

<!--Supervisor Memos List-->

{% for memo in memos %}
{% if request.user|is_in_group:"owner" %}

<article class="media content-section">
    <img class="rounded-circle
    article-img" src="{{ memo.author.profile.image.url }}">
    <div class="container">
        <div class="media-body">
            <div class="article-metadata">
                <a class="article-content text-muted"
                   href="{% url 'user-memos' memo.author.username %}">{{ memo.author }} |</a>
                <a class="article-content text-muted">{{ memo.date_time|date:"F d, Y" }} |</a>
                <a class="article-content text-muted">Total Memos: {{ memo_list|length }}</a>
            </div>
            <h2>
                <a class="article-title"
                   href="{% url 'memos-detail' memo.id %}">{{ memo.title }}</a>
            </h2>
            <p class="article-content">{{ memo.content }}</p>
        </div>
        <div class="mt-2">
            <small>
                <a class="text-muted"
                   href="{% url 'memos-detail' pk=memo.pk %}">
                    Comments: {{ memo.comments.count }}</a>
            </small>
        </div>
    </div>
</article>

<!--Normal Employees Memo List-->

{% elif request.user|is_in_group:"manager" %}

<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ memo.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="article-content text-muted"
               href="{% url 'user-memos' memo.author.username %}">{{ memo.author }} |</a>
            <a class="article-content text-muted">{{ memo.date_time|date:"F d, Y" }}</a>
        </div>
        <h2>
            <a class="article-title"
               href="{% url 'memos-detail' memo.id %}">{{ memo.title }}</a>
        </h2>
        <p class="article-content">{{ memo.content }}</p>
        <small>
            <a class="text-muted"
               href="{% url 'memos-detail' pk=memo.pk %}">Comments: {{ memo.comments.count }}</a>
        </small>
    </div>
</article>

{% endif %}
{% endfor %}


<!--Pagination-->

{% if is_paginated %}
{% if page_obj.has_previous %}

<a class="btn btn-primary btn-sm mb-4"
   href="?page=1">First</a>
<a class="btn btn-primary btn-sm mb-4"
   href="?page={{ page_obj.previous_page_number }}">Previous</a>

{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}

<a class="btn btn-primary active btn-sm mb-4"
   href="?page={{ num }}">{{ num }}</a>

{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}

<a class="btn btn-primary active btn-sm mb-4"
   href="?page={{ num }}">{{ num }}</a>

{% endif %}
{% endfor %}

{% if page_obj.has_next %}

<a class="btn btn-primary btn-inactive btn-sm mb-4"
   href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-primary btn-inactive btn-sm mb-4"
   href="?page={{ page_obj.paginator.num_pages }}">Last</a>

{% endif %}
{% endif %}
{% endblock content %}