{% extends "users/base.html" %}
{% block content %}
{% load auth_extras %}

<!--Memo Detail List-->

<article class="media content-section">
    <img class="rounded-circle article-img"
         src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="article-content text-muted"
               href="{% url 'user-memos' memo.author.username %}">{{ memo.author }} |</a>
            <a class="article-content text-muted">{{ memo.date_time|date:"F d, Y" }}</a>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <div>
            {% if request.user|is_in_group:"owner" %}
            <a class="btn btn-primary btn-sm mb-4"
               href="{% url 'memos-update' memo.id %}">Update</a>
            <a class="btn btn-danger btn-sm mb-4"
               href="{% url 'memos-delete' memo.id %}">Delete</a>
            {% endif %}
            <a class="btn btn-primary btn-sm mb-4"
               href="{% url 'add-comment-to-memo' memo.id %}">Leave Comment</a>
            {% for comment in memo.comments.all %}
            <div>
                <small>
                    <a class="article-content text-muted">{{ comment.author }}: {{ comment.text }}</a>
                </small>
            </div>
            {% endfor %}
        </div>
    </div>
</article>

{% endblock content %}